spring.application.name=nail-case-sever
server.servlet.context-path=/api/v1

# Devtools 설정
spring.devtools.restart.enabled=false
spring.devtools.livereload.enabled=true

# Springdoc OpenAPI 설정
springdoc.swagger-ui.path=/swagger
springdoc.api-docs.path=/v3/api-docs

# message
spring.messages.basename=messages

# 기본 프로파일 설정 (개발 환경)
spring.profiles.active=dev
