spring.application.name=nailcase

# Devtools 설정
spring.devtools.restart.enabled=false
spring.devtools.livereload.enabled=true

# Springdoc OpenAPI 설정
springdoc.swagger-ui.path=/swagger

# message
spring.messages.basename=messages

# 기본 프로파일 설정 (개발 환경)
spring.profiles.active=dev
